.product-detail {
    display: flex;
    margin: 0 $main-padding;
    padding: $layout-padding;
    background-color: $white;
    justify-content: space-between;
    flex-wrap: wrap;
    &__image {
        display: block;
        width: 680px;
        background-color: $white;
        flex: 0 1 auto;
        margin: 0 auto;
    }
    &__container {
        flex: 1 1 auto;
        max-width: 375px;
        padding-left: $trailing-margin;
        &--condition {
            font-size: 1.4rem;
            padding: $layout-padding 0 $trailing-margin;
            color: $dark-gray;
        }
        &--title {
            font-size: 2.4rem;
            width: 250px;
            letter-spacing: 1.5px;
        }
        &--price {
            font-size: 4.6rem;
            padding: $layout-padding $trailing-margin $layout-padding 0;
            display: inline-block;
        }
        &--button {
            display: block;
            width: 100%;
            height: 40px;
            text-align: center;
            line-height: 40px;
            background-color: $button-color;
            color: $white;
            font-size: 1.8rem;
            font-weight: $font-medium;
            border-radius: 5px;
        }
    }
}
.product-description {
    margin: 0 $main-padding 52px $main-padding;
    padding: 0 $layout-padding;
    background-color: $white;
    &__title {
        font-size: 2.8rem;
    }
    &__excerpt {
        width: 70%;
        padding: $layout-padding 0;
        font-size: 1.6rem;
        color: $light-gray;
    }
}

@media screen and (max-width: 768px) {
    .product-detail {
        flex-direction: column;
        &__image {
            width: 100%;
        }
        &__container--title {
            width: auto;
        }
    }
    .product-description .product-description__excerpt {
        width: 100%;
    }
}
