.header {
    width: 100vw;
    height: 50px;
    padding: 0 $main-padding;
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        margin-right: 20px;
    }
    .search-container {
        width: 90%;
        height: 35px;
        display: flex;
        flex-grow: 1;
        &__input {
            width: 95%;
            padding-left: 12px;
            font-size: 1.8rem;
        }
        &__button {
            width: 35px;
            height: 35px;
            float: right;
            background: url(../assets/ic_Search.png) no-repeat center $bg-main-color;
        }
    }
}