$main-color: #FFE600;
$dark-gray: #333;
$medium-gray: #666;
$light-gray: #999;
$bg-main-color: #EEE;
$button-color: #3483FA;
$white: #FFFFFF;

$trailing-margin: 16px;
$main-padding: 8vw;
$layout-padding: 32px;

$square-image: 180px;
$large-image: 680px;

$font-regular: 400;
$font-medium: 600;
$font-bold: 700;
